.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
manuscript.tex
manuscript.pdf
manuscript.log
manuscript.aux
manuscript.fdb_latexmk
manuscript.bbl
manuscript.blg
manuscript.fls
manuscript.out
manuscript.synctex.gz
.trackdown/*
